.wrapper {
  margin-top: 2rem;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.item {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid var(--color-border);
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: .5rem;
  transition: all .3s ease-in-out;
}
.item--disabled {
  pointer-events: none;
  color: #d1cece;
}
.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
  
}
.item:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}