.wrapper {
  position: relative;
}

.wrapper-slider {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.slider-control {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: 1;
}
.slider-control__btn {
  border: 1px solid var(--color-border);
  line-height: 0;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: .5rem;
  transition: .3s ease-in-out;
}
.slider-control__btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}