.wrapper {
  position: relative;
}
.image {
  padding-top: 70%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.content {
  width: 95%;
  padding: 1rem 1rem;
  background-color: var(--bg-color);
  position: relative;
  top: -2rem;
  border-radius: 1rem;
  margin: 0 auto;
}
.title {
  line-height: 2.2rem;
  height: 4.4rem;
  overflow: hidden;
  transition: .3s ease-in-out;
}
.title:hover {
  color: var(--secondary-color);
}

.title a {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  cursor: pointer;
}

.description {
  margin-top: 1rem;
  line-height: 2rem;
  height: 4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.link {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: 700;
  transition: .3s ease-in-out;
}
.link:hover {
  color: var(--primary-color);
}